{{> header}}
    <div class="container">
        <img src="https://ugross.gallerycdn.vsassets.io/extensions/ugross/vscode-react-snippets/1.3.0/1519481679046/Microsoft.VisualStudio.Services.Icons.Default"
        />
        <h1 class="display-4 d-inline">Hands-On
            <span class="highlight">REACT JS</span>
        </h1>
        <form action="/add/{{data._id}}" method="POST">
            <div class="form-group">
                <input class="form-control" value="{{data.name}}" type="text" name="name" placeholder="Name Here" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="reg" placeholder="Registration" value="{{data.reg}}" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="Email" value="{{data.email}}" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="phone" placeholder="Phone Number" value="{{data.phone}}" />
            </div>
            <select class="pay form-control" name="paymentStatus">
                <option selected disabled>Select Option</option>
                <option
                {{#ifPaid data.paymentStatus 'Paid'}}
                selected
                {{/ifPaid}}
                >Paid</option>
                <option
                {{#ifPaid data.paymentStatus 'Unpaid'}}
                selected
                {{/ifPaid}}
                >Unpaid</option>
                <option
                {{#ifPaid data.paymentStatus 'Unpaid/Ticketed'}}
                selected
                {{/ifPaid}}
                >Unpaid/Ticketed</option>
                <option
                {{#ifPaid data.paymentStatus 'Cancelled'}}
                selected
                {{/ifPaid}}
                >Cancelled</option>
            </select>
            <br>
            <button class="btn btn-default" id="submit" type="submit">Submit</button>
        </form>
        <a href="/users">
            <button class="btn btn-default" id="submit" type="submit">
                Registered Users Detail!
            </button>
        </a>
    </div>
    <script src="/scripts/add.js"></script>
{{> footer}}